# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# IDE
.idea/
.vscode/

# Project specific
config/secret.json
*.log

# Ignore data folder and outputs
data/
debug/
output/
signature_counts.csv

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore environment configuration files
.env
*.env

# Ignore logs and temporary files
*.log
*.tmp

# Ignore Mac system files
.DS_Store
